@{
    ViewData["Title"] = "Політика конфіденційності";
}

<style>
    .privacy-container {
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 20px;
    }

    .privacy-title {
        color: #343a40;
        margin-bottom: 20px;
        font-size: 2.2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    }

    .privacy-content {
        color: #495057;
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
    }
</style>

<div class="privacy-container">
    <h1 class="privacy-title">@ViewData["Title"]</h1>
    <p class="privacy-content">
        <b>Політика конфіденційності</b><br><br>
        Ця політика конфіденційності описує, як я, як розробник та власник цього веб-сайту, збираю, використовую та захищаю будь-яку інформацію, яку я можу зберігати у процесі його розробки та використання для особистих цілей.<br><br>
        <b>Збір та використання інформації</b><br><br>
        Оскільки цей веб-сайт розробляється та використовується виключно для моїх особистих потреб, я можу зберігати певну інформацію, яку я вводжу або генерую під час його використання. Ця інформація може включати:<br><br>
        &nbsp;&nbsp;* <b>Дані облікових записів</b> (якщо такі є).<br>
        &nbsp;&nbsp;* <b>Введені дані у формах</b>.<br>
        &nbsp;&nbsp;* <b>Інформацію про використання веб-сайту</b>.<br><br>
        Ця інформація використовується виключно для забезпечення функціональності веб-сайту, його тестування та вдосконалення для моїх особистих потреб.<br><br>
        <b>Передача інформації третім сторонам</b><br><br>
        Оскільки цей веб-сайт не призначений для публічного використання, будь-яка зібрана інформація не буде передаватися третім сторонам.<br><br>
        <b>Зберігання інформації</b><br><br>
        Інформація зберігатиметься до тих пір, поки це необхідно для цілей розробки та особистого використання цього веб-сайту.<br><br>
        <b>Ваші права</b><br><br>
        Оскільки цей веб-сайт використовується лише для особистих цілей, права, пов'язані із захистом персональних даних, можуть бути обмежені у застосуванні. Однак, я вживатиму розумних заходів для забезпечення безпеки будь-якої збереженої інформації.<br><br>
        <b>Зміни до цієї політики конфіденційності</b><br><br>
        Я можу час від часу оновлювати цю політику конфіденційності. Будь-які зміни будуть відображені на цій сторінці.<br><br>
        <b>Контактна інформація</b><br><br>
        Якщо у вас виникнуть будь-які питання щодо цієї політики конфіденційності, ви можете зв'язатися зі мною за особистими контактними даними.<br><br>
        <b>Дата останнього оновлення</b>: 25.04.2025
    </p>
</div>