################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MailWarehouse_ASP.NET_Core/FileContentIndex/b60da152-054f-45f9-a9cd-68f2f67d3d4a.vsidx
/.vs/MailWarehouse_ASP.NET_Core/FileContentIndex/cd9b2b98-7a7e-4b63-8163-0145ddf4bf84.vsidx
/.vs/MailWarehouse_ASP.NET_Core/FileContentIndex/ce915bff-edee-4436-8670-4850a3dd8f86.vsidx
/.vs/MailWarehouse_ASP.NET_Core/FileContentIndex/ea837f8c-fa4c-48b5-9c42-4bc02299eee7.vsidx
/.vs/MailWarehouse_ASP.NET_Core/FileContentIndex/efd93690-21f4-4946-a814-83bf110179ce.vsidx
